/* src/index.css */

/* Import font từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Pacifico&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  color: #EAEAEA;
  font-family: 'Inter', sans-serif; 
 background-image: url('./assets/images/back-1.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}